# 依赖包
node_modules/
.pnp/
.pnp.js

# 测试
coverage/

# 构建输出
.next/
out/
build/
dist/

# 缓存
.cache/
.temp/
.tmp/

# 环境变量
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# 日志
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# 编辑器
.idea/
.vscode/
*.swp
*.swo

# 操作系统
.DS_Store
Thumbs.db

# Strapi特定
.strapi-updater.json
license.txt

# 数据库
*.sqlite
*.db